<h2>Make a Wish!</h2>

<form action="/wish" method="post">
    <input type="text" name="name" placeholder="Wish name">
    <input type="text" name="price" placeholder="Price">
    <input type="text" name="image" placeholder="Image link">
    <input type="text" name="link" placeholder="Link to source">
    <input type="submit" value="Make New Wish">
</form>